@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';
@import 'vue2-timepicker/dist/VueTimepicker.css';

@use './fonts';

html,
body,
#__nuxt,
#__layout,
.wrapper {
  height: 100%;
}

h1,
.title-1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2,
.title-2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h3,
.title-3 {
  font-size: 1.5rem;
  font-family: $font-family-base;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.btn-default {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}

.page-enter-active,
.page-leave-active {
  transition: transform 0.2s, opacity 0.2s;
}

.page-leave-active {
  transform: translateX(-80px);
  opacity: 0;
}

.page-enter {
  transform: translateX(80px);
  opacity: 0;
}

.wrapper {
  .main-container {
    .wrapped-container {
      width: 100%;
      margin: 0 auto;
      padding-right: 15px;
      padding-left: 15px;

      &.c-large {
        max-width: 960px;

        @media print {
          max-width: none;
          padding-right: 0;
          padding-left: 0;
        }
      }

      &.c-medium {
        max-width: 770px;
      }

      &.c-small {
        max-width: 430px;
      }

      &.c-center {
        align-self: center;
      }
    }
  }
}

// Footer positioning logic
.main-container {
  min-height: 100%;
  margin-bottom: -72px;

  .footer-push {
    height: 72px;
  }
}

footer {
  min-height: 72px;

  .navbar {
    @media (max-width: 576px) {
      padding: 0 0.5rem !important;
    }
  }

  .footer-icon {
    a {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.hoverable-card:hover,
.hoverable-card:active {
  box-shadow: 1px 1px 4px theme-color-level(primary, -10);
}

.card {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;

  &.card-content {
    padding: 15px;
  }
}

.bg-dark {
  background-color: #3c3c3c !important;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  .computer {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .phone {
    display: none;
  }
}
