@use '../fonts/fonts';

$primary: #5299d3;
$secondary: #3c3c3c;
$headings-font-family: 'PT Sans', sans-serif;
$headings-font-weight: 700;
$btn-font-family: 'PT Sans', sans-serif;
$btn-font-weight: 700;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';

h2 {
  margin-bottom: 1.5rem;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .main-container {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    overflow: auto;

    .wrapped-container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      flex: auto;
      padding-right: 15px;
      padding-left: 15px;

      &.medium {
        max-width: 800px;

        @media print {
          max-width: none;
          padding-right: 0;
          padding-left: 0;
        }
      }

      &.small {
        max-width: 350px;
      }

      &.center {
        align-self: center;
      }
    }
  }
}

.hoverable-card:hover,
.hoverable-card:active {
  box-shadow: 1px 1px 4px theme-color-level(primary, -10);
}

.bg-dark {
  background-color: #3c3c3c !important;
}

.no-border {
  border: none;
}
